/* RESET --------------------------------------------------------------------- */
html { margin: 0; padding: 0; border: 0; }

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table, div, span, object, iframe, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }

blockquote, q { quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

th, td, caption { float: none !important; text-align: left; font-weight: normal; vertical-align: middle; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

/* STRUCTURE ----------------------------------------------------------------- */
#body_content_title { visibility: hidden; position: absolute; }

.inner { padding: 20px; margin-bottom: 20px; }

#page #header { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; overflow: visible; *zoom: 1; padding-top: 20px; }
#page #header:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#page #body { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; overflow: visible; *zoom: 1; }
#page #body:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#page #body #body_content_left { display: inline; float: left; margin-right: 10px; width: 670px; }
* html #page #body #body_content_left { overflow-x: hidden; }
#page #body #body_content_left .inner { padding-right: 100px; }
#page #body .no_body_content_right #body_content_left { display: inline; float: left; margin-right: 10px; width: 870px; }
* html #page #body .no_body_content_right #body_content_left { overflow-x: hidden; }
#page #body #body_content_right { display: inline; float: left; margin-right: 10px; width: 310px; margin-right: 0; display: inline; float: left; position: relative; margin-left: -60px; margin-top: 40px; }
* html #page #body #body_content_right { overflow-x: hidden; }

#menu { padding-left: 10px; }
#menu ul { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
#menu ul li { list-style-image: none; list-style-type: none; margin-left: 0px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; white-space: nowrap; }
#menu ul li { *display: inline; }
#menu ul li { margin-right: 20px; display: inline; float: left; margin-right: 10px; width: 130px; }
* html #menu ul li { overflow-x: hidden; }
#menu ul li a { padding: 5px; display: block; text-align: center; }
#menu ul li.selected > a { font-weight: bold; }

#header h1 { padding: 20px 10px; }
#header h1 a { color: inherit; text-decoration: inherit; cursor: inherit; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; padding: 20px 30px; position: relative; margin-left: -40px; }
#header h1 a:active, #header h1 a:focus { outline: none; }
#header h1 a { *display: inline; }

#footer { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; overflow: visible; *zoom: 1; padding-top: 10px; padding-left: 40px; }
#footer:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

/* FORMS ------------------------------ */
.inquiries form label { width: 150px; margin-right: 10px; float: left; text-align: left; }
.inquiries form input[type=text] { width: 300px; padding: 5px; border-width: 0; }
.inquiries form input[type=submit] { width: 190px; padding: 5px 0; border-width: 0; }
.inquiries form textarea { width: 460px; padding: 5px; border-width: 0; }
.inquiries form .field { margin: 12px 0px; }
.inquiries form .actions { margin-left: 160px; }

/* FORMATTING----------------------------------------------------------------- */
/* TONES --------------------------------------------------------------------- */
/* SHAPES -------------------------------------------------------------------- */
/* SHADOWS ------------------------------------------------------------------- */
